# Remote Procedure Calls
grpcio==1.34.0          # TODO: upgrade to 1.36.1
grpcio-tools==1.34.0    # TODO: upgrade to 1.36.1
protobuf==3.14.0        # TODO: upgrade to 3.15.6
grpcio-health-checking==1.34.0

# Ethos Capabilities Contracts
ethos

# Programmable Email Tool
sendgrid==6.4.6

# Structured Databases
SQLAlchemy==1.3.22
psycopg2-binary==2.8.6

# Programmable SMS Tool
twilio

# In Memory Cache
redis

# Queue Management
celery==5.0.5

# Payments SDKs
stripe

# Observability Tools
opentracing
jaeger-client
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp

# Rest of the utilties
six==1.15.0
starkbank-ecdsa==1.1.0
validate-email==1.3
urllib3==1.26.6 # See: https://github.com/urllib3/urllib3/issues/2168
phonenumbers==8.12.19
pyfcm
google-api-python-client==2.12.0
py3dns==3.2.1
python-http-client==3.3.1


